.upperabout{
    @extend .upperindex;
		grid-template-areas:
		'ab ct'
		'ab ct'
		'ab ct'
    'mp mp'
		;
		max-width: 1200px;

	}
.about{
  grid-area: ab;
}
.contact{
  grid-area: ct;
}
#nycmap{
  grid-area: mp;
  @include centerContent(block);
}