@media (min-width: 50em){
	

	.sectionmain {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 3rem;
    row-gap: 4rem;

	}
	.sectionhead{
		grid-column: 1;
		grid-column-end: span 2;

	}
	.ad{
		height: 60%;
	}
}

