@media (min-width: 40em){
	

	.articlemain {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 3rem;
    row-gap: 4rem;
	}
	.articlehead{
		grid-column: 1;
		grid-column-end: span 2;
	}
	.ad{
		height: 60%;
	}
	.zone{
	 margin-top: 30px;
	 margin-bottom: 30px;
	 display: grid;
   	 grid-template-columns: repeat(4,minmax(0,1fr));
   	 column-gap: 5rem;
   	 row-gap: 4rem;
	}
	.zoneitem{
		img{
		width: 70%;
		}
		flex-direction: column;
    	border-bottom: 0;
   	    margin: 0;
   	    padding: 0;
        align-items: flex-start;

	}
	.zonetitle{
		@include centerContent(block)
	}
}
