@media (min-width: 40em){

	.upperindex{
		@include centerContent(grid)
  		grid-template-columns: repeat(1fr,2);
  		column-gap: 20px;
  		grid-template-rows: auto;
  		grid-template-areas:
  		'en sp'
  		'en sp'
  		'en sp'
  		;
  		max-width: 1400px;

	}
	.editorsnote{
		grid-area: en;
		img{
			
		}
	}
	.superlatives{
		grid-area: sp;
	}
}