@media (min-width: 40em){
	.piecemain{
	@include centerContent(block)
	margin-top: 60px;
	max-width: 800px;

	}
	.piecebody{
	background-size: cover;
	}
	.pieceimage{
		display:none;
	}
	#coney{
		background-image: url("../images/coneyisland.jpeg");
	}
	
}