@media (min-width: 40em){
	.piecemain{
	@include centerContent(block)
	margin-top: 60px;
	max-width: 800px;

	}
	.piecebody{
	background-size: cover;
	}
	.pieceimage{
		width: 50%;
		@include centerContent(block);
		padding: 30px;
	}
	#coney{
		background-image: url("../images/coneyisland.jpeg");
	}
	.jeffwrapper{
		display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	grid-auto-rows: minmax(100px, auto);
    	column-gap: 1.2rem;
    	grid-row-gap: 1.2rem;
	}
	.jeffhead{
		img{
		@include centerContent(block);
	}
	h1, h2{
		text-align: center;
	}
	}
	.jeffbottom{
		img{
		@include centerContent(block);
	}
	h1, h2{
		text-align: center;
	}
	}
	
	
}