@mixin outBtn(){
	text-decoration: none;
	white-space: nowrap;
	font-size: 1rem;
	padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-color: #000;
    background-color: #fff;
    border-width: 2px;
    text-align: center;
    line-height: 1;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}




.sectionmain{
	@include centerContent(flex)
	flex-direction: column;
	max-width:800px;
}
.sectionhead{
	text-align: left;
	h1{
		font-size: 2rem;
    	line-height: 2.2rem;
		}
	
	
	img{
		width:100%;
		height: auto;
	}
	border-bottom: 8px solid black;

}

.ad{
	background-color: #ececec;
	// need to center paragraph text//
	p{
		text-align: center;
	}
	img{
		@include centerContent(block)
		width: 300px;
		height: auto;
	

	}
	padding-top: auto;
	padding-bottom: 10px;
	overflow: visible;

}
.tallad{
	background-color: #ececec;
	// need to center paragraph text//
	p{
		text-align: center;
	}
	img{
		@include centerContent(block);
		width: 300px;
		height: auto;
	

	}
	padding-top: auto;
	padding-bottom: 10px;
	overflow: visible;

}

.article{
	padding: 20px;
	p{
		line-height: 1.3rem;
		font-size: .8rem;
		color: #1a1a1a;
	}
	button{
		@include outBtn()
		&:hover{
		border-color: green;
		color: green;
		a{
			text-decoration: none;
			color: green;
		}
		}
	}
	img{
	width: 300px;
	height: 164.281px;
	object-fit: cover;

	}
}
.list{
	@extend .article;
}
.pagebreak{
	@include centerContent(block)
	p,h1{
		text-align: center;
	}
	img{
		height: auto;
		width: 100%;
		max-width: 500px;
		@include centerContent(block)
		object-fit: fill;
	}
	
}


