


.sectionmain {
    margin-top:60px;
    width:80%;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 800;
    font-style: normal;
    word-spacing: 5px;
}
h5{
 font-family: franklin-gothic-atf, sans-serif;
 font-weight: 100;
 font-style: normal;
}
.upper{
    background-color:white;
    width:95%;
    display:block;
    margin:auto;
}
.header{
    border-left:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:3px;
    border-style: solid;
}
.opener{
    width:100%;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.opener {
   @include centerContent(block)
}
.individual{
    background-color:white;
    width:95%;
    display:block;
    margin:auto;
}
.individual {
    @include centerContent(block)
}