

$backgroundColor: white;


@mixin centerContent($display){
    display: $display;
    margin:auto;
    justify-content: center;
}
@import 'fonts','nav','section','article','piece','sidebar';
body {
	background: $backgroundColor;
	margin: 0px;
}

@import 'desktoparticle', 'piecedesktop', 'navdesktop';
@media (min-width: 40em){
	body{
		margin-top: 100px;
	}
}