@font-face {
    font-family: 'LeagueSpartan';
    src:
        url('../webfonts/LeagueSpartan-Bold.woff');
}

body {
    padding: 0; margin: 0
}

header,h1,p {
    font-family: 'LeagueSpartan', Helvetica, arial, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica, arial, sans-serif;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: gray;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #000000;
  color: white;
}

.nav {
  overflow: hidden;
  background-color: #000000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navlinks{
    display:none;
    visibility:hidden;

}



.title {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}
.title > p{
    color: gray;
    font-family: helvetica;
    margin: none;
    text-align: center;
    visibility:hidden;
}
.title > img{
    width:100%;
}
.title > h1 {
    margin: none;
    text-align: center;
}

.logo{
    width:100px;
    height:auto;
    margin:auto;
    display:block;
}

]
#caption1 {
grid-area:c1;
}
#caption2 {
grid-area:c2;
}
#caption3 {
    grid-area:c3;
}
#image1{
    grid-area:i1;
}
#image2{
    grid-area:i2;
}
#image3{
    grid-area:i3;
}

.wrapper > img{
    width:80%;
}
.wrapper{
    display:grid;
    justify-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        'i1 c1 '
        'i2 c2'
        'i3 c3';
}
.thingofthings{
    width:80%;
    margin: auto;
    display: block;
}
.things{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 10px;
    grid-auto-rows: minmax(50px, auto);


}
.thing:hover{
    background-color:red;
}
.things > button{
    font-family: 'LeagueSpartan';
    color:white;
    background-color:black;
    border-style: none;
    font-size: 1.3em;
    text-align: center;

}
.thingstodo{
    margin: none;
    text-align: center;
}

#caption4 {
grid-area:c4;
}
#caption5 {
grid-area:c5;
}
#caption6 {
    grid-area:c6;
}
#image4{
    grid-area:i4;
}
#image5{
    grid-area:i5;
}
#image6{
    grid-area:i6;
}
.wrapper2 > img {
    width:80%;
}
.wrapper2{
    display:grid;
    justify-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        'i4 c4 '
        'i5 c5'
        'i6 c6';
}

@media only screen and (min-width:50em){
        main{
            margin-top: 150px;
        }
        .navlinks {
            display:block;
            visibility: visible;
        }
        .nav ul {
            flex-direction:row;
            text-align: center;
            display: block;
            padding-bottom: 0px;

        }
        .nav li {
            text-align: center;
            display: inline-block;
            padding: 14px 16px;
            padding-bottom:none;


        }
        .nav a {
            color:white;
            font-family: Helvetica, arial, sans-serif;
            text-decoration: none;
        }
        .nav a:hover{
            font-weight: bold;
            border-style:solid;
            border-width: 0px 0px 2px 0px;
            border-color: red;
        }

        .title {
          margin-top: 60px; /* Add a top margin to avoid content overlay */
          width:80%;
          font-size:.8em;
        }

        .title > p{
            visibility: visible;
        }
        .wrapper{
            margin-top:60px;
            width:80%;
            font-size:1.3em;
        }
        .toppage{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap : 0px;
            grid-auto-rows: minmax(10px, auto);
            margin-left:90px;


        }
        .topnav{
            display:none;
        }
        .wrapper2{
            width:40%;
            margin:auto;

        }

}
