.topnav {
  overflow: hidden;
  background-color: #000000;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica, arial, sans-serif;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: gray;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #000000;
  color: white;
}

.nav {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navlinks {
  display: none;
  visibility: hidden;
}

.articlemain {
  margin-top: 60px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 800;
  font-style: normal;
  word-spacing: 5px;
}

h5 {
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.upper {
  background-color: white;
  width: 95%;
  display: block;
  margin: auto;
}

.header {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 3px;
  border-style: solid;
}

.opener {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.opener p {
  margin-left: 50px;
  padding-bottom: 30px;
}

.individual {
  background-color: white;
  width: 95%;
  display: block;
  margin: auto;
}

.individual p {
  margin-left: 50px;
  padding-bottom: 30px;
}

body {
  background: #D3D3D3;
}
