h1, h2, h3, h4, h5 {
  font-family: "franklin-gothic-compressed";
}

p, li {
  font-family: roboto,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bottom-nav {
  visibility: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #1a1a1a;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #1a1a1a;
  color: white;
}

.active img {
  display: block;
  margin: auto;
  justify-content: center;
}

.nav {
  overflow: hidden;
  background-color: #1a1a1a;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navlinks {
  display: none;
  visibility: hidden;
}

.sectionmain {
  margin-top: 60px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 800;
  font-style: normal;
  word-spacing: 5px;
}

h5 {
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.upper {
  background-color: white;
  width: 95%;
  display: block;
  margin: auto;
}

.header {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 3px;
  border-style: solid;
}

.opener {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.opener {
  display: block;
  margin: auto;
  justify-content: center;
}

.individual {
  background-color: white;
  width: 95%;
  display: block;
  margin: auto;
}

.individual {
  display: block;
  margin: auto;
  justify-content: center;
}

.articlemain {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
}

.articlehead h1 {
  padding-left: 10px;
  font-size: 2rem;
  line-height: 4.2rem;
}

.articlehead h4 {
  padding-left: 10px;
  font-weight: 400;
}

.articlehead img {
  width: 100%;
  height: auto;
}

.ad {
  background-color: #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ad img {
  display: block;
  margin: auto;
  justify-content: center;
}

.article {
  padding: 20px;
}

.article p {
  line-height: 1.3rem;
  font-size: .8rem;
  color: #1a1a1a;
}

.article button {
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  border: 1px solid #d8d8d8;
  border-color: #000;
  background-color: #fff;
  border-width: 2px;
  text-align: center;
  line-height: 1;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.article button:hover {
  border-color: green;
  color: green;
}

.article button:hover a {
  text-decoration: none;
  color: green;
}

.piecemain {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  background: white;
  padding: 40px;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  background-color: #1a1a1a;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

body {
  background: white;
  margin: 0px;
}

@media (min-width: 40em) {
  .articlemain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 3rem;
    row-gap: 4rem;
  }
  .articlehead {
    grid-column: 1;
    grid-column-end: span 2;
  }
  .ad {
    height: 60%;
  }
}

@media (min-width: 40em) {
  .piecemain {
    display: block;
    margin: auto;
    justify-content: center;
    margin-top: 60px;
    max-width: 800px;
  }
  .piecebody {
    background-image: url("../images/coneyisland.jpeg");
    background-size: cover;
  }
  .pieceimage {
    display: none;
  }
  .openbtn {
    display: none;
  }
  .sidebar {
    width: 0px;
  }
}

@media (min-width: 40em) {
  .linkwrapper {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .bottom-nav {
    visibility: visible;
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    background-color: #1a1a1a;
  }
  .desknavlink {
    text-align: center;
    position: relative;
    flex-shrink: 0;
    font-family: "Roboto",sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }
  .desknavlink:hover {
    transition: color 0.2s ease 0s;
    color: green;
    text-decoration: none;
  }
  .icon {
    visibility: hidden;
  }
  .openbtn {
    display: none;
  }
  .sidebar {
    width: 0px;
  }
}

@media (min-width: 40em) {
  body {
    margin-top: 100px;
  }
}
